# Executables
*.exe
*.EXE

# Object files
*.o

# Libraries
*.dll
*.DLL

# Uncompiled Tests

PPIT_EDIT_TEST.C
PPIT_STRING_TEST.C
PPIT_DEC_TO_HEX.C
PPIT_CLASS_TEST.C
PPIT_SEARCH_TEST.C
SetGender.C
SetGender.H

#Folders
build/
