# Executables
*.exe
*.EXE

# Object files
*.o

# Libraries
*.dll
*.DLL

# Uncompiled Tests
test/PPIT_CLASS_TEST.C
test/PPIT_SEARCH_TEST.C
test/PPIT_STRING_TEST.C
test/PPIT_EXTENSION_TEST

#Folders
build/
PPIT
test/PPIT_EDIT_TEST.C
