# Compiled Files
*.exe
PPIT
*.o

# Libraries
*.dll
*.DLL

# Logs
*.log

# Uncompiled Tests
test/PPIT_CLASS_TEST.C
test/PPIT_SEARCH_TEST.C
test/PPIT_EDIT_TEST.C

#Folders
build/
test/PPIT_EXTENSION_TEST
test/PPIT_CLEANUP_TEST
test/MAIN.C
